#p_3{
    background-color: rgb(188, 215, 247);
}

#titulo_1{
    color: rgb(20, 50, 245);
}

#Nome:hover{
    color: chartreuse;
}
.materiais{
    text-align: center;
}

#p_2{
    background-color: rgb(188, 215, 247);
}