#p_3{
    background-color: rgb(188, 215, 247);
}

#titulo_1{
    color: rgb(9, 51, 236);
}

#Nome:hover{
    color: chartreuse;
}
.materiais{
    text-align: center;
}

#p_2{
    background-color: rgb(188, 215, 247);
}

#Introdução{
    text-align: center;
}
.paragrafos{
    color: blueviolet;
}
#Livros{
    text-align: center;
    align-items: center;


}
#id_c{
box-shadow: 0px 30px lightskyblue;
border-style: solid; border-color:  rgb(44, 48, 248);
background-color: bisque;
color: darkgreen;
align-items: center;
text-align: center;
height: 150px;

}
#imagem_1{
    display: block;
    z-index: 0;
}