#p_3{
    background-color: rgb(188, 215, 247);
}

#titulo_1{
    color: rgb(57, 135, 155);
}

#Nome:hover{
    color: chartreuse;
}
.materiais{
    text-align: center;
}

#p_2{
    background-color: rgb(188, 215, 247);
}

#Introdução{
    text-align: center;
}
.paragrafos{
    color: blueviolet;
}
#Livros{
    text-align: center;
}
#id_c{
background-color: bisque;
color: darkgreen;
text-align: center;
}
